 /* https://loading.io/css/ for the loading animation */
 .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
 /* End of Spinners */


* {
    box-sizing: border-box;
}
 /* https://www.w3schools.com/cssref/pr_grid-template-rows.asp for dealing with grids, rest on lab 1 chapter 7 */
#content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 300px 400px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;
    margin: 20px;
}
 /* https://www.w3schools.com/colors/colors_picker.asp for choosing colours, really useful
    Background shadows and such are under lab 1 chapter 4 */
#content > * {
    background-color: rgb(136, 202, 247);
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0);
}
 /* https://www.w3schools.com/css/css3_flexbox.asp and https://www.w3schools.com/css/css_align.asp for flex model of boxes*/
.header {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
}
.header > * {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(203, 102, 243, 0.842)
}
.list {
    grid-row-start: 2;
    grid-row-end: 4;
}
.info {
    grid-column-start: 2;
    grid-column-end: 4;
    padding-right: 40px;
}
.map {
    padding-left: 10px;
    padding-right: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.paintings {
    padding-left: 10px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

.list{
    display: inline-block;
    padding-right: 20px;
}

ul > li{
    /*https://stackoverflow.com/questions/3998412/how-to-style-a-list-of-links-with-css*/
    background-color  : #2175bc;
    color             : #fff;
    padding           : .5em;
    text-decoration   : none;
    border-bottom: 1px solid #000000;
    font-size: medium;
    list-style-type: none;
    min-height: auto;
    max-height: fit-content;
    text-align: center;
}

li a, li {
  /* /*https://stackoverflow.com/questions/3998412/how-to-style-a-list-of-links-with-css */
  background-color  : #2175bc;
  color             : #fff;
  font-weight       : bold;
  padding           : .5em;
  text-decoration   : none;
}

li:hover  , a:hover {
  /*https://stackoverflow.com/questions/3998412/how-to-style-a-list-of-links-with-css 
    https://stackoverflow.com/questions/47276388/css-change-child-on-parent-hover-only-single-child 
    https://www.w3schools.com/cssref/sel_hover.asp */
  background-color  : #2586d7;
  color             : #fff;
  cursor: pointer;
}

    

h1{
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    font-variant-position: normal;
}

h4{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-variant: small-caps;
    
}

h2{
    text-align: center;
}

.lds-spinner{
    display: none;


}
#listOfGalleries {
  font-size: 20px;
}


/* ScrollBar */
 /* https://www.w3schools.com/cssref/pr_pos_overflow.asp for the scroller
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp for the style 
    https://stackoverflow.com/questions/11444148/disable-scroll-bar-in-header-but-not-in-content-for-a-web-page to fix my scrollbar*/
#listOfGalleries {
  
  overflow: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(110, 111, 119);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.list > .main , .list > .main > *{
  height: 600px;
}

 /* https://stackoverflow.com/questions/1121748/how-to-make-the-html-link-activated-by-clicking-on-the-li/1121754 
    This helps make the entire box link clickable, not just the centre of it */
li a {
  display:
  block;
  width: 100%;
  height: 100%;
}
#listLink {
  padding: 0px;
  margin: 0px;
}

#map {
  height: 320px;
}